NODE_ENV=development
VITE_PUBLIC_API_BASE=
API_PROXY_TARGET=http://127.0.0.1:4173

AUTH_USERNAME=
AUTH_PASSWORD=
AUTH_SESSION_SECRET=

FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
RAPIDAPI_KEY=
CAREERJET_API_KEY=
